@charset "UTF-8";
/*
============================================================================================
Table of Content
============================================================================================
	1. SCSS variables
	2. Typography
	3. Header style
	3.1 Logo container costomize
	3.2 menu container costomize
	4. Slider style
	4.1 slide
	4.1.2 slide article
	4.1.3 slide carousel
	5. Section evenement
	5.1 Section eve title
	5.2 Block article
	6. Section actualité
	7. footer
	7.1 footer logo
	7.2 footer search
	7.3 footer middle card
	7.3.1 footer menu
	7.3.2 footer reseau social card
	7.4 footer signature
	8. widget style
	9. Page style
	10. Media queries
	10.1 screen resolution <= 1024 
	10.2 screen resolution <= 960 
	10.3 screen resolution <= 720
	10.4 screen resolution <= 540 
	11. Pagination
	12. Social networks icon
============================================================================================
*/
/**
 * 1. SCSS variables
 */
/*
============================================================================================
2. Typography
============================================================================================
*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

p {
  font-size: 1.1em;
  font-weight: 400;
}

.corps {
  background-color: #ccc;
}

/*
============================================================================================
 3. Header style 
============================================================================================
*/
header {
  background-color: #fff;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0px;
  box-shadow: 0px 0px 19px 0px #d5ddea;
  /*
   * 3.1 Logo container costomize
  */
  /**
   * 3.2 menu container costomize
   */
}
header .header-logo {
  padding: 8px 0px;
}
header .header-logo img {
  max-width: 150px;
  height: auto;
}
header .header-logo .card-logo {
  width: 100px;
  height: 130px;
  margin-bottom: 0;
  padding-bottom: 0;
}
header .header-menu {
  font-family: "Montserrat", sans-serif;
  padding-top: 15px;
}
header .header-menu a {
  text-decoration: none;
  font-size: 17px;
  color: #EC801D;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.5s;
}
header .header-menu a:hover {
  color: #A30C31;
}
header .header-menu ul li {
  margin-left: 15px;
}
header .header-menu .navbar.navbar-expand-lg.navbar-white.bg-white {
  float: right;
}
header .header-menu .current-menu-item a, header .header-menu .current_page_item a,
header .header-menu .current-menu-ancestor a {
  color: #A30C31;
}
header .btn-menu {
  color: #EC801D;
  font-size: 25px;
  border: 2px solid;
  padding: 5px;
}
header .btn-menu:hover {
  color: #A30C31;
}

/*
============================================================================================
 4. Slider style
============================================================================================
*/
.carousel-container {
  overflow: hidden;
}

/*
* 4.1 slide 
*/
.slide {
  width: 100%;
  background-size: cover;
  height: 450px;
  position: relative;
  overflow: hidden;
  background: radial-gradient(circle at center, #000 0%, #737373 65%);
  /*
  * 4.1.2 slide article
  */
  /*
  * 4.1.3 slide carousel 
  */
}
.slide h3 {
  color: #A30C31;
}
.slide img {
  min-width: 100%;
  height: auto;
  opacity: 0.75;
}
.slide .slide-article {
  width: 45%;
  padding: 23px;
  margin-left: 100px;
  font-family: montserrat;
  position: absolute;
  bottom: 118px;
}
.slide .slide-article p {
  color: #fff;
}
.slide .btn-carousel {
  text-decoration: none;
  color: #fff;
  background: #8b0a2a;
  padding: 7px 25px;
  border-radius: 30px;
  font-size: 0.9em;
  transition: background-color 0.5s;
  font-family: "Cairo", sans-serif;
  font-weight: 400;
  margin: 5px;
}

.carousel-btn-container .btn-carousel:hover {
  color: #fff;
  background-color: #EC801D;
  text-decoration: none;
}

.carousel-control-prev, .carousel-control-next {
  height: 35px;
  width: 3%;
  border: 1px solid #fff;
  margin-top: 15%;
  transition: opacity 300ms ease-out;
}

.carousel-control-prev {
  margin-left: 15px;
}

.carousel-control-next {
  margin-right: 15px;
}

.carousel-control-prev-icon:before {
  content: "";
}

.carousel-control-next-icon:before {
  content: "";
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-image: none;
  font-family: "FontAwesome";
  color: #fff;
  transition: opacity 300ms ease-out;
}

/*
============================================================================================
 5. Section evenement
============================================================================================
*/
.section-evenement {
  background-color: #f0efef;
  overflow: hidden;
}

/*
* 5.1 Section eve title 
*/
.section-evenement-title {
  padding: 25px;
  color: #A30C31;
  text-align: center;
  position: relative;
  padding-bottom: 0px;
}
.section-evenement-title p {
  color: #626265;
}

/*
* 5.2 Block article 
*/
.block-article {
  color: #272727;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 0px;
  background-color: #f0efef;
  padding: 20px 85px 20px 85px;
}
.block-article .article {
  border-radius: 0px;
  background-color: #f0efef;
  border: 0px;
  margin-bottom: 20px;
}
.block-article .article img {
  transition: transform 0.5s;
  max-width: 100%;
  height: auto;
}
.block-article .article img:hover {
  /*opacity: 0.6;*/
  transform: scale(1.1);
}
.block-article .card-img-top {
  border-radius: 0px;
  max-width: 100%;
  height: auto;
}

.card .card-img {
  height: 220px;
  overflow: hidden;
}

.block-article .time {
  text-transform: uppercase;
  color: #8f6d0c;
}

.card-container {
  background: #fff;
  border: 1px solid #dee4ee;
  transition: transform 1s;
}

.card-container:hover {
  box-shadow: 0px 4px 26px 3px #d5ddea;
}

.card-body {
  padding: 0px 10px 0px 10px;
  background-color: white;
  text-align: center;
}
.card-body h5 {
  color: #A30C31;
}
.card-body p {
  color: #626265;
  padding: 2px;
}
.card-body .card-text {
  padding-top: 10px;
}

.btn-article {
  cursor: pointer;
  width: 114px;
  font-size: 0.9em;
  font-weight: 550;
  padding: 8px;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Cairo", sans-serif;
  text-transform: uppercase;
}
.btn-article a {
  text-decoration: none;
  color: #A30C31;
  border-bottom: 2px solid #A30C31;
}
.btn-article a:hover {
  color: #EC801D;
  border-bottom: 2px solid #EC801D;
}

/*
============================================================================================
 6. Section actualité
============================================================================================
*/
.section-actualite {
  background-color: #fff;
  padding: 0px;
}

.section-actualite.row {
  padding: 20px 85px 20px 85px;
}

.section-actualite-title {
  padding: 15px;
  color: #A30C31;
  text-align: center;
  position: relative;
}

.block-article-actualite {
  font-family: montserrat;
  color: #fff;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 0px;
}

.block-article-actualite .actualite-article {
  border-radius: 0px;
  padding: 20px;
  border: 0px;
  transition: margin-top 0.5s;
}
.block-article-actualite .actualite-article:hover {
  margin-top: -20px;
}

.block-article-actualite .actualite-article .body-actualite {
  border: solid 1px #EC801D;
}

.body-actualite h5 {
  margin-top: 26px;
}

.section-actualite .bulle-numero {
  background-color: #EC801D;
  padding: 13px 15px;
  margin-bottom: -24px;
  margin-left: 41%;
  border-radius: 30px;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  z-index: 1;
  width: 58px;
}

/*
============================================================================================
 7. footer
============================================================================================
*/
footer.footer-container {
  background-color: #1F1F1F;
  color: #d9d7d7;
  padding: 10px 85px 20px 85px;
  font-family: "Montserrat", sans-serif;
  /*
  * 7.1 footer logo
  */
}
footer.footer-container .footer-logo {
  padding-bottom: 0;
  padding-left: 0;
  padding-top: 35px;
}
footer.footer-container .footer-logo img {
  max-width: 150px;
  height: auto;
}

/*
	* 7.2 footer search
*/
.search-bar {
  padding-top: 15px;
  padding-right: 0px;
}
.search-bar .searchform {
  width: 100%;
  padding: 0;
  display: flex;
}
.search-bar label {
  display: none;
}
.search-bar .widget {
  background-color: transparent;
}

/*
	* 7.3 footer middle card
*/
.footer-middle {
  width: 100%;
  /*
  * 7.3.1 footer menu
  */
}
.footer-middle .widget {
  background-color: transparent;
}
.footer-middle .descriptition .widget_text {
  color: #d9d7d7;
  margin-top: 0;
}
.footer-middle .footer-menu ul {
  list-style-type: none;
  padding-left: 10px;
  text-transform: uppercase;
}
.footer-middle .footer-menu ul li {
  margin-bottom: 8px;
}
.footer-middle .footer-menu ul li::before {
  font-family: "FontAwesome";
  display: block;
  position: absolute;
  left: 0;
  font-size: 17px;
  color: #d9d7d7;
  content: "";
  margin-left: 10px;
}
.footer-middle .footer-menu ul a {
  text-decoration: none;
  color: #d9d7d7;
  transition: color 0.5s;
}
.footer-middle .footer-menu ul a:hover {
  color: #EC801D;
}

/*
	* 7.3.2 footer reseau social card
*/
footer .reseau-social {
  font-family: "Montserrat", sans-serif;
}
footer .reseau-social a {
  text-decoration: none;
  color: #d9d7d7;
  transition: color 0.5s;
}
footer .reseau-social a:hover {
  color: #EC801D;
}

/*
	* 7.4 footer signature
*/
.signature {
  color: #d9d7d7;
  background-color: #060606;
  padding: 10px;
  color: #6c6c6c;
  display: block;
}
.signature a {
  color: #cccccc;
}

/*
===========================================================================================
 8. widget style
===========================================================================================
*/
.widget {
  margin-bottom: 30px;
  overflow: hidden;
  padding: 20px;
  padding-right: 10px;
  color: #585858;
  background-color: #f0efef;
  margin-right: 15px;
  margin-left: 10px;
  margin-top: 40px;
}
.widget .gallery-size-thumbnail {
  overflow: hidden;
}
.widget .gallery-size-thumbnail .gallery-item {
  width: 50% !important;
}
.widget #searchform .screen-reader-text {
  display: none;
}

footer .widget_search {
  float: right;
  padding-right: 0;
  padding-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.widget.widget_text {
  padding: 0px;
  margin-left: 0;
  margin-right: 0;
}

.widget.social_widget {
  padding: 0;
  margin-top: 0;
}

.widget-search {
  padding: 30px;
  color: #585858;
  background-color: #eff1f4;
  padding-right: 0px;
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 30px;
}

#s {
  margin-top: 20px;
  border: 3px solid #fcfcfc;
  color: gray;
  padding: 4px;
  border-radius: 0px 5px 0px 5px;
  font-size: 1rem;
}

#searchsubmit {
  background: #A30C31;
  padding: 7px;
  border-radius: 5px 0px 5px 0px;
  text-align: center;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  margin-top: 20px;
}
#searchsubmit:hover {
  background-color: #EC801D;
}

.sidebar {
  padding: 0px 0px 40px 20px;
  overflow: hidden;
}

.single-search-bar {
  margin-bottom: 30px;
}

.sidebar-content .widget_media_image {
  margin-left: 0;
  padding-left: 0;
}
.sidebar-content .widget ul {
  list-style-type: none;
  padding-left: 10px;
}
.sidebar-content .widget ul li {
  margin-bottom: 10px;
}
.sidebar-content .widget ul a {
  text-decoration: none;
  color: #A30C31;
}
.sidebar-content .widget ul a:hover {
  color: #EC801D;
}
.sidebar-content .widget-title {
  border-bottom: 1px solid #e8eaec;
  margin-bottom: 19px;
  padding-bottom: 20px;
}

#wp-calendar {
  width: 100% !important;
}

/*
===========================================================================================
 9. Page style
===========================================================================================
*/
.page-content {
  overflow: hidden;
}

.page-article-container {
  padding: 20px 85px 20px 85px;
  /*background-color: #F2F2F2;*/
}
.page-article-container .card {
  background-color: transparent;
  border: none;
}

.page-slide {
  position: relative;
  height: 150px;
  overflow: hidden;
  padding: 0;
  background-color: #000;
}
.page-slide img {
  max-width: 100%;
  height: auto;
  opacity: 0.8;
}

.page-title {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  color: #A30C31;
  text-transform: uppercase;
}

.archive-article {
  color: #272727;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 0px;
  padding: 0;
  background-color: none;
  padding-left: 20px;
}

.archive-block {
  padding: 12px;
  padding-top: 0px;
  margin-bottom: 20px;
}

.archive-article-box {
  background: #fff;
  border: 1px solid #dee4ee;
  transition: transform 1s;
}
.archive-article-box:hover {
  box-shadow: 0px 4px 26px 3px #d5ddea;
}
.archive-article-box .card-img img {
  max-width: 100%;
  height: auto;
  transition: transform 0.5s;
}
.archive-article-box .card-img img:hover {
  transform: scale(1.1);
}

.row.article {
  padding-left: 20px;
}

.card.single-article {
  padding: 40px;
  border: 0;
  border-radius: 0;
  padding-left: 20px;
}
.card.single-article .single-card-img {
  border-radius: 0;
  height: 350px;
  overflow: hidden;
}

.single-article h1 {
  color: #A30C31;
  font-size: 32px;
}

.date {
  color: #EC801D;
  font-size: 1em;
}

.single-btn-article {
  cursor: pointer;
  width: 97px;
  font-size: 1em;
  font-weight: 550;
  padding: 0px 0px 8px 0px;
  border-bottom: 2px solid #A30C31;
}

.single-btn-article a {
  text-decoration: none;
  color: #A30C31;
}

.single-btn-article:hover {
  border-bottom: 2px solid #EC801D;
}

.single-btn-article a:hover {
  color: #EC801D;
}

.single-card-body .card-img {
  height: 450px;
}
.single-card-body .card-img img {
  min-width: 100%;
  height: auto;
}

.row.archive-article {
  color: #272727;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 0px;
  padding: 0;
  background-color: none;
  padding-left: 20px;
}

.card.article.col-lg-6.col-md-6 {
  border: 0px;
}

/*
================================================================================================
 10. Media queries
================================================================================================
*/
/*
	10.1 screen resolution <= 1024 
*/
@media screen and (max-width: 1024px) {
  /*slide personalisation */
  .carousel-control-prev, .carousel-control-next {
    margin-top: 20%;
  }

  .slide-article {
    width: 50%;
    bottom: 15%;
  }

  .slide-article p {
    /*display: none;*/
  }

  .carousel-control-prev, .carousel-control-next {
    width: 4%;
    margin-top: 25%;
  }
}
/*
	10.2 screen resolution <= 960 
*/
@media screen and (max-width: 960px) {
  /*slide personalisation */
  .slide {
    height: 350px;
  }
  .slide .slide-article {
    width: 50%;
    bottom: 12%;
  }

  .carousel-control-prev, .carousel-control-next {
    width: 4%;
    margin-top: 15%;
  }

  /*section evenement personalisation */
  .block-article, .section-actualite.row, footer.footer-container, .page-article-container {
    padding: 20px 20px 20px 40px;
  }

  footer .col-sm {
    text-align: left;
  }

  .widget_search {
    float: none;
  }
}
/*
	10.3 screen resolution <= 720 
*/
@media screen and (max-width: 720px) {
  /*header personalisation */
  .navbar.navbar-expand-lg.navbar-white.bg-white {
    padding-top: 0px;
  }

  /*slide personalisation */
  .slide {
    height: 250px;
  }
  .slide .slide-article {
    width: 100%;
    bottom: 10%;
    text-align: center;
    margin-left: 0;
  }

  .carousel-control-prev, .carousel-control-next {
    width: 4%;
    margin-top: 20%;
    border: none;
    margin-right: 0;
    margin-left: 0;
  }

  /*section evenement personalisation */
  .block-article, .section-actualite.row {
    padding: 15px 0px 15px 10px;
  }

  .Section-actualite .bulle-numero {
    margin-left: 45%;
  }
}
/*
	10.4 screen resolution <= 540 
*/
@media screen and (max-width: 540px) {
  /* Header personalisation */
  header {
    padding-right: 0px;
    padding-left: 0px;
  }

  .header-menu.col-lg-8.col-md-8.col-sm-6.col-6 {
    padding-top: 12px;
  }

  /*slide personalisation */
  .slide {
    height: 150px;
  }
  .slide .slide-article {
    bottom: 10px;
  }
  .slide .slide-article h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
  }

  .slide-article p {
    display: none;
  }

  .carousel-control-prev, .carousel-control-next {
    margin-top: 10%;
  }

  /*Section actualité bulle numero*/
  .Section-actualite .bulle-numero {
    margin-left: 42%;
  }

  /*footer personnalisation*/
  footer.footer-container #s {
    border-radius: 0px 5px 0px 5px;
    width: 100%;
  }
  footer.footer-container #searchsubmit {
    border-radius: 5px 5px 5px 5px;
    width: 100%;
  }
  footer.footer-container .widget_search {
    padding-left: 0px;
    margin-left: 0px;
    background-color: transparent;
  }
  footer.footer-container .search-bar {
    padding-left: 0px;
  }

  /*page personnalisation*/
  .page-article-container {
    padding: 20px 20px 20px 5px;
  }
}
/*
============================================================================================11. Pagination
============================================================================================
*/
.nav-links div {
  display: inline;
}

.nav-links .nav-next {
  float: right;
}

.nav-links .nav-prev {
  float: left;
}

.page-numbers, .nav-links div {
  font-family: "Cairo", sans-serif;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 2px 0 0;
  border: 1px solid #EC801D;
  line-height: 1;
  text-decoration: none;
  border-radius: 2px;
  font-weight: 600;
  font-size: 1em;
}

.page-numbers.current,
a.page-numbers:hover {
  background: #EC801D;
  color: #fff;
}

span.page-numbers.dots {
  color: #A30C31;
}

.pagination-wrapper {
  margin: 0 auto;
}

ul.pagination li.current a,
ul.pagination li.current button {
  background: #A30C31;
}

ul.pagination li a, ul.pagination li {
  font-size: 1em;
  font-family: "Cairo", sans-serif;
}

ul.pagination li.current a:hover, ul.pagination li.current a:focus, ul.pagination li.current button:hover, ul.pagination li.current button:focus {
  background: #020d16;
}

/*
============================================================================================12. Social networks icon
============================================================================================
*/
.social_widget a::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  font-family: "FontAwesome";
  font-size: 18px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}

.social_widget a[href*="wordpress.com"]::before {
  content: "";
}
.social_widget a[href*="facebook.com"]::before {
  content: "";
}
.social_widget a[href*="twitter.com"]::before {
  content: "";
}
.social_widget a[href*="youtube.com"]::before {
  content: "";
}
.social_widget a[href*="linkedin.com"]::before {
  content: "";
}

/*# sourceMappingURL=style-js.css.map */
