/*
============================================================================================
Table of Content
============================================================================================
	1. SCSS variables
	2. Typography
	3. Header style
	3.1 Logo container costomize
	3.2 menu container costomize
	4. Slider style
	4.1 slide
	4.1.2 slide article
	4.1.3 slide carousel
	5. Section evenement
	5.1 Section eve title
	5.2 Block article
	6. Section actualité
	7. footer
	7.1 footer logo
	7.2 footer search
	7.3 footer middle card
	7.3.1 footer menu
	7.3.2 footer reseau social card
	7.4 footer signature
	8. widget style
	9. Page style
	10. Media queries
	10.1 screen resolution <= 1024 
	10.2 screen resolution <= 960 
	10.3 screen resolution <= 720
	10.4 screen resolution <= 540 
	11. Pagination
	12. Social networks icon
	13. Contact form
============================================================================================
*/

/**
 * 1. SCSS variables
 */

$primary-color: #A30C31;
$secondary-color: #EC801D;
$paragraph-color: #fff;
$footer-text-color: #d9d7d7;
$footer-background-color: #1F1F1F;
$light-background-color: #f0efef;
$primary-font: 'Cairo', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$icon-font: "FontAwesome";

/*
============================================================================================
2. Typography
============================================================================================
*/
h1, h2, h3, h4, h5 ,h6{
	font-family: $primary-font;
	font-weight: 700;
}
body{
	font-family: $secondary-font;
	font-weight: 300;
}
p {
	font-size: 1.1em;
	font-weight: 400;
}
.corps{
	background-color: #ccc;
}
.row{
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.container-fluid{
	padding-right: 0;
	padding-left: 0;
}
/*
============================================================================================
 3. Header style 
============================================================================================
*/
header{
  background-color: #fff;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0px;
  box-shadow: 0px 0px 19px 0px #d5ddea;

  /*
	 * 3.1 Logo container costomize
	*/
	.header-logo{
    padding: 8px 0px;
		img{
			max-width: 150px;
			height: auto;
		}
		.card-logo {
			width: 100px;
			height: 130px;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	/**
	 * 3.2 menu container costomize
	 */
	
	
  .header-menu {
		font-family: $secondary-font;
		padding-top: 15px;

		a {
			text-decoration: none;
			font-size: 17px;
		  color: $secondary-color;
	    font-weight: bold;
			text-transform: uppercase;
			transition: color 0.5s;
			&:hover{
				color:$primary-color;
			}
    }
    ul li{
      margin-left: 15px;
    }
		.navbar.navbar-expand-lg.navbar-white.bg-white {
				float: right;
		}
		.current-menu-item a , .current_page_item a,
		.current-menu-ancestor a{
			color: $primary-color;

		}
	}
	.btn-menu {
		color: $secondary-color;
		font-size: 25px;
		border: 2px solid;
		padding: 5px;

		&:hover{
			color: $primary-color;
		}
	}
}


/*
============================================================================================
 4. Slider style
============================================================================================
*/
.carousel-container{
	overflow: hidden;
}
/*
* 4.1 slide 
*/
.slide{
	width: 100%;
	background-size: cover;
	height: 450px;
	position: relative;
	overflow: hidden;
	background: radial-gradient(circle at center,  #000 0%, darken(#FFF, 55) 65%); 

	h3{
		color: $primary-color;
	}

	img{
		min-width: 100%;
		height: auto;
		opacity: 0.75;
	}
	/*
	* 4.1.2 slide article
	*/
	.slide-article {
		width: 45%;
		padding: 23px;
		margin-left: 100px;
		font-family: montserrat;
		position: absolute;
		bottom: 118px;

		p {
			color: $paragraph-color;
		}
	}
	/*
	* 4.1.3 slide carousel 
	*/
	.btn-carousel {
		text-decoration: none;
		color: $paragraph-color;
		background: darken($primary-color, 5);
		padding: 7px 25px;
		border-radius: 30px;
		font-size: .9em;
		transition: background-color .5s;
		font-family: $primary-font;
		font-weight: 400;
		margin: 5px;
	}
} 
.carousel-btn-container .btn-carousel:hover{
	color: $paragraph-color;
	background-color: $secondary-color;
	text-decoration: none;
}
.carousel-control-prev, .carousel-control-next{
	height: 35px;
	width: 3%;
	border: 1px solid $paragraph-color;
	margin-top: 15%;
	transition: opacity 300ms ease-out;
}
.carousel-control-prev{
	margin-left: 15px;
}
.carousel-control-next{
	margin-right: 15px;
}
.carousel-control-prev-icon:before{
	content: '\f053';
}
.carousel-control-next-icon:before{
	content: '\f054';
}
.carousel-control-prev-icon, .carousel-control-next-icon{
	background-image: none;
	font-family: 'FontAwesome';
	color: $paragraph-color;
	transition: opacity 300ms ease-out;
}
/*
============================================================================================
 5. Section evenement
============================================================================================
*/
.section-evenement{
	background-color: $light-background-color;
	overflow: hidden;
}
/*
* 5.1 Section eve title 
*/
.section-evenement-title {
	padding: 25px;
	color: $primary-color;
	text-align: center;
	position: relative;
	padding-bottom: 0px;

	p{
		color: #626265;
	}
}
/*
* 5.2 Block article 
*/
.block-article{
	color: #272727;
	margin-bottom: 30px;
	overflow: hidden;
	border-radius: 0px;
	background-color: $light-background-color;
	padding-left: 0;
	padding-right: 0;
	.article{
		border-radius: 0px;
    	background-color: $light-background-color;
		border: 0px;
		margin-bottom: 20px;

		img{
			transition: transform .5s;
			max-width: 100%;
			height: auto;
			&:hover{
				/*opacity: 0.6;*/
				transform: scale(1.1);
			}
		}
	}

	.card-img-top{
		border-radius: 0px;
		max-width: 100%;
		height: auto;
	}
}
.card .card-img {
	height: 220px;
	overflow: hidden;
}
.block-article .time{
	text-transform: uppercase;
	color: #8f6d0c;
}
.card-container {
	background: #fff;
	border: 1px solid #dee4ee;
	transition: transform 1s;
}
.card-container:hover {
	box-shadow: 0px 4px 26px 3px rgba(213, 221, 234, 1);
}

.card-body{
	padding: 0px 10px 0px 10px;
	background-color: white;
	text-align: center;

	h5{
		color: $primary-color;
	} 

	p{
		color: #626265;
		padding: 2px;
	}

	.card-text {
		padding-top: 10px;
	}
}
.btn-article{
	cursor: pointer;
	width: 114px;
	font-size: .9em;
	font-weight: 550;
	padding: 8px;
	text-align: center;
	margin-bottom: 20px;
	font-family: $primary-font;
	text-transform: uppercase;
	a	{
		text-decoration: none;
		color: $primary-color;
		border-bottom: 2px solid $primary-color;
		
		&:hover{
			color: $secondary-color;
			border-bottom: 2px solid $secondary-color;
		}
	}
}
/*
============================================================================================
 6. Section actualité
============================================================================================
*/
.section-actualite{
	background-color: #fff;
	padding: 0px;
}
.section-actualite.row {
  padding: 0px;
}
.section-actualite-title {
	padding: 15px;
  color: $primary-color;
  text-align: center;
  position: relative;
}
.block-article-actualite{
	font-family: montserrat;
  color: $paragraph-color;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 0px;
}
.block-article-actualite .actualite-article {
	border-radius: 0px;
	border: 0px;
	transition: margin-top 0.5s;
	
	&:hover{
		margin-top: -20px;
	}
}
.block-article-actualite .actualite-article .body-actualite{
	border: solid 1px $secondary-color;
}
.body-actualite h5{
	margin-top: 26px;
}
.section-actualite .bulle-numero{
    background-color: $secondary-color;
    padding: 13px 15px;
    margin-bottom: -24px;
    margin-left: 41%;
    border-radius: 30px;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    z-index: 1;
    width: 58px;
}
/*
============================================================================================
 7. footer
============================================================================================
*/

footer.footer-container{
	background-color: $footer-background-color;
	color: $footer-text-color;
	font-family: $secondary-font;
	/*
	* 7.1 footer logo
	*/
	.footer-logo{
		padding-bottom: 0;
		padding-left: 0;
		padding-top: 35px;
		img{
			max-width: 150px;
			height: auto;
		}
	}
} 
/*
	* 7.2 footer search
*/
.search-bar{
	padding-top: 15px;
	padding-right: 0px;
	
	.searchform{
		width: 100%;
		padding: 0;
		display: flex;
	}
	label {
		display: none;
	}
	.widget{
		background-color: transparent;
	}
}
/*
	* 7.3 footer middle card
*/
.footer-middle{
	width: 100%;
	.widget{
		background-color: transparent;
	}	
	.descriptition .widget_text{
		color: $footer-text-color;
		margin-top: 0;
	}
	/*
	* 7.3.1 footer menu
	*/
	.footer-menu {
		ul{
			list-style-type: none;
			padding-left: 10px;
			text-transform: uppercase;
			li {
				margin-bottom: 8px;
				&::before {
					font-family: $icon-font;
					display: block;
					position: absolute;
					left: 0;
					font-size: 17px;
					color: $footer-text-color;
					content: "\f105";
					margin-left: 10px;
				}
			}
			a {
				text-decoration: none;
				color: $footer-text-color;
				transition: color 0.5s;
				&:hover{
					color: $secondary-color;
				}
			}
		}
	}

}
/*
	* 7.3.2 footer reseau social card
*/
footer .reseau-social{
	font-family: $secondary-font;
	a{
		text-decoration: none;
		color: $footer-text-color;
		transition: color 0.5s;
		&:hover{
			color: $secondary-color;
		}
	}
}
/*
	* 7.4 footer signature
*/
.signature {
	color: $footer-text-color;
	background-color: darken($footer-background-color, 10);
	padding: 10px;
	color: lighten($footer-background-color, 30);
	display: block;
	a{
		color: darken($paragraph-color, 20);
	}
}
/*
===========================================================================================
 8. widget style
===========================================================================================
*/
.widget{
	margin-bottom: 30px;
	overflow: hidden;
	padding: 20px;
	padding-right: 10px;
	color: #585858;
	background-color: $light-background-color;
	margin-right: 15px;
	margin-left: 10px; 
	margin-top: 40px; 
	.gallery-size-thumbnail{
		overflow: hidden;
		.gallery-item{
			width: 50% !important;
		}
	}
	#searchform .screen-reader-text{
		display: none
	}
}
footer .widget_search{
	float: right;
	padding-right: 0;
	padding-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 20px;
}
.widget.widget_text {
	padding: 0px;
	margin-left: 0;
	margin-right: 0;
}
.widget.social_widget{
	padding: 0;
	margin-top: 0;
}
.widget-search{
	padding: 30px;
	color: #585858;
	background-color: #eff1f4;
	padding-right: 0px;
	margin-right: 20px;
	margin-left: 20px;
  padding-right: 30px;
}
#s{
	margin-top: 20px;
	border: 3px solid #fcfcfc;
	color: darken($paragraph-color, 50);
	padding: 4px;
	border-radius: 0px 5px 0px 5px;
	font-size: 1rem;
}
#searchsubmit{
	background: $primary-color;
	padding: 7px;
	border-radius: 5px 0px 5px 0px;
	text-align: center;
	border: 0;
	color: $paragraph-color;
	text-transform: uppercase;
	margin-top: 20px;
	transition: background 0.5s;

	&:hover{
		background-color: $secondary-color;
	}
}
.sidebar{
	padding: 0px 0px 40px 20px;
	overflow: hidden;
}
.single-search-bar{
	margin-bottom: 30px;
}
.sidebar-content{
	.widget_media_image{
		margin-left: 0;
		padding-left: 0;
	}
	.widget ul{
		list-style-type: none;
		padding-left: 10px;
		li{
			margin-bottom: 10px;
		}
		a{
			text-decoration: none;
			color: $primary-color;
		}
		a:hover{
			color: $secondary-color;
		}
	}
	.widget-title {
		border-bottom: 1px solid #e8eaec;
		margin-bottom: 19px;
		padding-bottom: 20px;
	}
}
#wp-calendar{
	width: 100% !important;
}
/*
===========================================================================================
 9. Page style
===========================================================================================
*/
.page-content{
	overflow: hidden;
}
.page-article-container{
	padding: 20px 85px 20px 85px;
	/*background-color: #F2F2F2;*/
	.card{
		background-color: transparent;
		border: none;
	}
}
.page-slide{
	position: relative;
	height: 150px;
	overflow: hidden;
	padding: 0;
	background-color: #000;
	
	img{
		max-width: 100%;
		height: auto;
		opacity: 0.8;
	}
}
.page-title{
	position: absolute;
	bottom: 50px;
	width: 100%;
	text-align: center;
	color: $primary-color;
	text-transform: uppercase;
}
.archive-article{
	color: #272727;
	margin-bottom: 30px;
	overflow: hidden;
	border-radius: 0px;
	padding: 0;
	background-color: none;
	padding-left: 20px;
}
.archive-block{
	padding: 12px;
	padding-top: 0px;
	margin-bottom: 20px;
}
.archive-article-box{
	background: $paragraph-color;
	border: 1px solid #dee4ee;
	transition: transform 1s;

	&:hover{
		box-shadow: 0px 4px 26px 3px rgba(213, 221, 234, 1);
	}
	
	.card-img img{
		max-width: 100%;
		height: auto;
		transition: transform .5s;

		&:hover {
    	transform: scale(1.1);
		}
	}
}
.row.article {
  padding-left: 20px;
}
.card.single-article{
	padding: 40px;
	border: 0;
	border-radius: 0;
	padding-left: 20px;

	.single-card-img{
		border-radius: 0;
		height: 350px;
		overflow: hidden;
	}
}
.single-article h1{
	color: $primary-color;	
	font-size: 32px;
}
.date{
	color: $secondary-color;
	font-size: 1em;
}
.single-btn-article{
	cursor: pointer;
	width: 97px;
	font-size: 1em;
	font-weight: 550;
	padding: 0px 0px 8px 0px;
	border-bottom: 2px solid $primary-color;
}
.single-btn-article a{
	text-decoration: none;
	color: $primary-color;
}
.single-btn-article:hover{
	border-bottom: 2px solid $secondary-color;
}
.single-btn-article a:hover{
	color: $secondary-color;
}
.single-card-body{
	.card-img {
		height: 450px;
		img{
			min-width: 100%;
			height: auto;
		}
	}
}
.row.archive-article{
    color: #272727;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 0px;
    padding: 0;
    background-color: none;
    padding-left: 20px;
}
.card.article.col-lg-6.col-md-6 {
    border: 0px;
}
.single-slide.col-lg-12, .card.single-article.col-lg-8.col-md-12, .row.article {
	padding-right: 0;
	padding-left: 0;
}
/*
================================================================================================
 10. Media queries
================================================================================================
*/

/*
	10.1 screen resolution <= 1024 
*/
@media screen and (max-width: 1024px)
{
		/*slide personalisation */
		.carousel-control-prev, .carousel-control-next {
			margin-top: 20%;
		}

    .slide-article{
			width: 50%;
			bottom: 15%;
		}
	.carousel-control-prev, .carousel-control-next{
		width: 4%;
		margin-top: 25%;
	}
}
/*
	10.2 screen resolution <= 960 
*/

@media screen and (max-width: 960px)
{
  /*slide personalisation */
	.slide{
		height: 350px;

		.slide-article{
			width: 50%;
			bottom: 12%;
		}
	}
	.carousel-control-prev, .carousel-control-next{
		width: 4%;
		margin-top: 15%;
	}
	.search-bar.col-lg-7.col-md-7.col-sm-12{
		padding-left: 0;
	}
	footer .col-sm{
		text-align: left;
	}
	.widget_search{
		float: none;
	}

	.col-lg-4.sidebar{
		padding-left: 0px;
		.col-lg-12{
			padding-left: 0;
			padding-right: 0;
		}
	}
}
/*
	10.3 screen resolution <= 720 
*/

@media screen and (max-width: 720px)
{
  /*header personalisation */
  .navbar.navbar-expand-lg.navbar-white.bg-white{
    padding-top: 0px;
  }

  /*slide personalisation */
  .slide{
    height: 250px;
		
		.slide-article{
			width: 100%;
			bottom: 10%;
			text-align: center;
			margin-left: 0;
		}
  }
	.carousel-control-prev, .carousel-control-next{
		width: 4%;
		margin-top: 20%;
		border: none;
		margin-right: 0;
		margin-left: 0;
	}

	/*section evenement personalisation 
	.block-article, .section-actualite.row{
		padding: 15px 0px 15px 10px;
	}*/
	.Section-actualite .bulle-numero{
		margin-left: 45%;
	}
	
}
/*
	10.4 screen resolution <= 540 
*/

@media screen and (max-width: 540px)
{
	.header-menu.col-lg-8.col-md-8.col-sm-6.col-6{
		padding-top: 12px;
	}
	/*slide personalisation */
	.slide{
		height: 165px;
			.slide-article { 
				bottom: 10px;
				h2{
					font-size: 1.8em;
					margin-bottom: 20px;
				}
			}
	}

  	.row.block-article.col-md-12.col-lg-12.col-sm-12, .block-article .article, .block-article-actualite .actualite-article, header, .section-evenement-title, .footer-header.col-lg-12.col-sm-12.col-md-12, .descriptition.col-lg-7.col-md-8.col-sm-12, .reseau-social.col-lg-2.col-md-4.col-sm-6, .archive-block.col-lg-6.col-md-6{
		padding-left: 0px;
		padding-right: 0px;	
	}
	.slide-article p{
	display: none;
	}
	.carousel-control-prev, .carousel-control-next{
	margin-top: 10%;
	}
	/*Section actualité bulle numero*/
	.Section-actualite .bulle-numero{
		margin-left: 42%;
	}
	/*footer personnalisation*/
	footer.footer-container{
		#s{
			border-radius: 0px 5px 0px 5px;
			width: 100%;
		}
		#searchsubmit {
			border-radius: 5px 5px 5px 5px;
			width: 100%;
		}
		.widget_search{
			padding-left: 0px;
			margin-left: 0px;
			background-color: transparent;
		}
		.search-bar{
			padding-left: 0px;
		}

	}
	/*page personnalisation*/
	.page-article-container {
    padding: 20px 20px 20px 5px;
	}

	.col-lg-4.sidebar{
		.widget{
			margin-right: 0px;
			margin-left: 0px;
		}
	}
}
/*
============================================================================================11. Pagination
============================================================================================
*/
.nav-links div {
  display: inline; }

.nav-links .nav-next {
  float: right; }

.nav-links .nav-prev {
  float: left; }

.page-numbers, .nav-links div {
  font-family: $primary-font;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 2px 0 0;
  border: 1px solid $secondary-color;
  line-height: 1;
  text-decoration: none;
  border-radius: 2px;
  font-weight: 600;
  font-size: 1em; }

.page-numbers.current,
a.page-numbers:hover {
  background: $secondary-color;
  color: $primary-color; }

span.page-numbers.dots {
  color: $primary-color; }

.pagination-wrapper {
  margin: 0 auto; 
}

ul.pagination li.current a,
ul.pagination li.current button {
  background: $primary-color; }

ul.pagination li a, ul.pagination li {
  font-size: 1em;
  font-family: $primary-font; }

ul.pagination li.current a:hover, ul.pagination li.current a:focus, ul.pagination li.current button:hover, ul.pagination li.current button:focus {
  background: #020d16; }
/*
============================================================================================12. Social networks icon
============================================================================================
*/
.social_widget a::before {
  content: '\f408';
  display: inline-block;
  margin-right: 10px;
  font-family: $icon-font;
  font-size: 18px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased; }

.social_widget {
	a[href*="wordpress.com"]::before {
		  content: '\f205';
	} 
	a[href*="facebook.com"]::before {
  		content: '\f082';
	}
	a[href*="twitter.com"]::before {
		  content: '\f099'; 
	}

	a[href*="youtube.com"]::before {
		content: '\f16a'; 
	}
	
	a[href*="linkedin.com"]::before {
  		content: '\f08c'; 
	}
}
/*
============================================================================================13. Contact form
============================================================================================
*/
.wpcf7{
	label{
		color: $primary-color;
	}
}
.wpcf7-form-control{
	border-top-width: 0px;
	border-top-style: solid;
	border-left-width: 0px;
	border-left-style: solid;
	border-right-width: 0px;
	border-right-style: solid;
}
.wpcf7-submit{
	background: $primary-color;
	padding: 7px;
	border-radius: 5px 0px 5px 0px;
	text-align: center;
	border: 0;
	color: $footer-text-color;
	text-transform: uppercase;
	margin-top: 20px;
	transition: background 0.5s;
	&:hover{
		background: $secondary-color;
	}
}